*{
    padding: 0;
    margin: 0;
}
body{
    background color: black;
}

.main{
    background-image:  url("assets/img/bg.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: max(1000px , 100vw);
    height : 80vh;
    position :relative;
}
.main .box{
    height: 80vh;
    width: 100%;
    opacity: 0.44;
    position :absolute;
    top : 0;
    background-color: black;
}
nav{
      max-width: 80vw;
      justify-content: space-between;
    margin : auto;
    display:flex;
  
    align-items: center;
    height : 62px;
}
nav img{
    color:red;
    width: 114px;
    position : relative;
    z-index: inherit;
}

